@import "../../styles/vars";

.help {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,.4);;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.help_show {
    display: block;
}

.help__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

// .help__border {
//         width: 850px;
//     max-height: 700px;
// }

.help__content {
    padding: 36px 35px 58px 35px;
    background-color: $bgColor;
    width: 850px;
    max-height: 700px;
}

#dark .help__content {
    background-color: $bgColor_dark;
}

.help__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.help__logo {
    width: 240px;
}

.help__close {
    background-color: inherit;
    border: none;
}

.help__cross {
    width: 19px;
    height: 19px;
    fill: $textColor;
}

#dark .help__cross {
    fill: $textColor_dark;
}

.help__label {
    font-size: 24px;
}

.help__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.help__row {
    display: flex;
    justify-content: space-between;
}

.help__input {
    width: 460px;
    height: 30px;
    padding: 6px 14px;
    font-size: 16px;
    line-height: 20px;
    background-color: #F1F0F0;
    border: none;

    &:focus {
        outline: none;
    }
}

#dark .help__input {
    background-color: #FFFFFF;
}

.help__form textarea {
    height: 134px;
}

.help__alert {
    display: flex;
    gap: 5px;
    width: 300px;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 15px;
}

.help__alertIcon {
    width: 15px;
    height: 15px;
}

.help__agreement {
    text-decoration: underline;
}

#dark .help__agreement {
    color: $textColor_dark;
}

// .help__button {
//     width: 250px !important; 
// }