@import "../../styles/vars";


.firstScreen {
    margin-top: 297px;
    
    &__inner{
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 60px;
        text-align: left; 
        color: #000000;   
    }
    &__subTitle {
        margin-top: 15px;
        max-width: 462px;
        font-size: 28px;
    }
    &__btn {
        margin-top: 78px;
        a {
            display: block;
        }
    } 
}

#dark .firstScreen__title {
    color: $textColor_dark;
}
@media(min-width: $ultra) {
    .firstScreen {
        margin-top: 477px;
        &__title {
            font-size: 95px;
            line-height: 122px;
        }
        &__subTitle {
            margin-top: 50px;
            max-width: 790px;
            font-size: 55px;
            line-height: 55px;
        }
        &__btn {
            margin-top: 100px;
        }  
    }
}
@media(max-width: 961px) {
    .firstScreen {
        &__title {
            font-size: 59px;
        }
    }  
}
@media (max-width: $tablet)  {
    .firstScreen {
        margin-top: 200px;
        &__title {
            margin-top: 16px;
            max-width: 655px;
            font-size: 48px;
        }
        &__subTitle {
            margin-top: 20px;
            max-width: 345px;
            font-size: 24px;
        }
        &__btn {
        margin-top: 73px;
        }
    }
}

@media(max-width: 774px) {
    .firstScreen {
        /* margin-top: 297px; */
        &__title {
            font-size: 43px;
        }
    }
}
@media(max-width: $smallTablet) {
    .firstScreen {
        &__title {
            font-size: 45px;
            max-width: 380px;
        }
    }   
}

@media (max-width: $mobile)  {
    .firstScreen {
        margin-top: 120px;
        &__title {
            /* max-width: 280px; */
            font-size: 19px;    
        }
        &__subTitle {
            margin-top: 18px;
            max-width: 280px;
            font-size: 13px;
        }
        &__btn {
            margin-top: 25px; 
        }
    }
}
@media (max-width: $smallMobile)  {
    .firstScreen {
        &__title {
            font-size: 25px; 
            max-width: 230px;
        }
    }
}