@import "../../styles/vars";

.formMessage {
    margin-bottom: 40px;
}

.formMessage__text {
    font-size: 20px;
    background-color: #EBEBEB;
    padding: 15px 39px 15px 20px;
    border-radius: 200px;
}



// @media (max-width: $tablet)  {
    
// }


// @media (max-width: $mobile)  {

// }
