@import "vars";

.btn {
    width: 400px;
    padding: 27px 0;
    font-size: 28px;
    background-color: $accentColor;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    border: none;
    text-decoration: none;
    text-transform: uppercase;

    &:hover{
        background-color: $greyColor;
        color: $accentColor;
        cursor: pointer;
        transition: background-color 0.1s ease;
    }
}

#dark .btn:hover {
    background-color: $bgColor;
}


@media screen and (max-width: $tablet) {
    .btn {
        width: 300px;
        padding: 25px 0;
        font-size: 20px;
    }
  }

  @media screen and (max-width: $mobile) {
    .btn {
        width: 200px;
        padding: 13px 0;
        font-size: 12px;
    }
  }