@import "vars";

.btn {
    padding: 27px 70px;
    font-size: 28px;
    background-color: $accentColor;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    border: none;
    text-decoration: none;
    text-transform: uppercase;

    &:hover{
        background-color: $greyColor;
        color: $accentColor;
        cursor: pointer;
        transition: background-color 0.1s ease;
    }
}

#dark .btn:hover {
    background-color: $bgColor;
}


@media screen and (max-width: $tablet) {
    .btn {
        font-size: 20px;
        padding: 25px 57px;
    }
  }

  @media screen and (max-width: $mobile) {
    .btn {
        font-size: 12px;
        padding: 12px 29px;
    }
  }