@import "vars";
@import "fonts";
@import "btn";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: $generalFont;
  background-color: $bgColor;
  color: $textColor;
}

main {
  flex: 1 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container__row {
  width: 90%;
  max-width: 1280px;
  padding-left: 60px;
  padding-right: 60px;

  @media (max-width: $mobile)  {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $ultra)  {
    max-width: 2020px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.container__row_wide { // для хедера
  width: 95%;
  max-width: 1320px;
  padding-left: 30px;
  padding-right: 30px;

  @media (max-width: $mobile)  {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $ultra)  {
    max-width: 2258px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

button:hover {
  cursor: pointer;
}

a {
  color: $textColor;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: $accentColor;
  text-align: center;

  @media (max-width: $tablet)  {
    font-size: 40px;
  }

  @media(max-width: $smallTablet) {
    font-size: 28px;
  }

  @media (max-width: $mobile)  {
    font-size: 16px;
  }
}