@import "../../styles/vars";

.terms {
    z-index: 11;
    margin-top: 115px;
    margin-bottom: 171px;
}

.terms__title {
    text-align: center;
    margin-bottom: 90px;
}

.terms__content {
    padding: 85px 80px 48px 80px;
}

.terms__subtitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}

.terms__text {
    font-size: 20px;
    margin-bottom: 40px;
}

@media (max-width: $tablet)  {
    .terms {
        margin-top: 75px;
        margin-bottom: 105px;
    }

    .terms__title {
        margin-bottom: 45px;
    }

    .terms__content {
        padding: 60px 35px 44px 35px;
    }
    
    .terms__subtitle {
        font-size: 32px;
        margin-bottom: 10px;
    }
    
    .terms__text {
        font-size: 15px;
        margin-bottom: 30px;
    }
}


@media (max-width: $mobile)  {
    .terms {
        margin-top: 45px;
        margin-bottom: 60px;
    }

    .terms__title {
        margin-bottom: 20px;
    }

    .terms__content {
        padding: 25px 11px 9px 11px;
    }
    
    .terms__subtitle {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    .terms__text {
        font-size: 8px;
        margin-bottom: 15px;
    }
}
