@import "../../styles/vars";

.radio:not(:last-child) {
    margin-bottom: 18px;
 }

.radio__label {
    font-size: 20px;
    margin-left: 10px;
}

.radio__label_big {
    font-size: 27px;
    margin-left: 12px;
}