@import "../../styles/vars";

.switch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch__label {
    font-size: 12px;
}
.react-switch {
    display: block !important;
    margin-top: 3px;
    margin-bottom: 5px;
}

.react-switch-bg {
    width: 72px !important;
    height: 40px !important;
    border: 2px solid $textColor !important;
    border-radius: 20px !important;
    background-color: $bgColor !important;
}

#dark .react-switch-bg {
    background-color: $textColor_dark !important;
}

.react-switch-handle {
    background-color: $textColor !important;
    width: 28px !important;
    height: 28px !important;
    top: 6.2px !important;
    left: 6px !important;
}

#dark .react-switch-handle {
    background-color: $bgColor_dark !important;
    transform: translateX(30px)  !important;
}


@media (max-width: $tablet)  {
    .switch__label {
        font-size: 6px;
    }

    .react-switch-bg {
        width: 50px !important;
        height: 30px !important;
        border-radius: 15px !important;
        border: 1px solid $textColor !important;
    }

    .react-switch-handle {
        width: 20px !important;
        height: 20px !important;
        top: 5px !important;
        transform: translateX(-1px) !important;
    }
    
    #dark .react-switch-handle {
        transform: translateX(18px)  !important;
    }
}


@media (max-width: 730px)  {
    .react-switch-bg {
        width: 45px !important;
        height: 25px !important;
    }

    .react-switch-handle {
        width: 16px !important;
        height: 16px !important;
        top: 4px !important;
    }
    
    #dark .react-switch-handle {
        transform: translateX(17px)  !important;
    }
}


@media (max-width: $smallMobile)  {
    .react-switch-bg {
        width: 30px !important;
        height: 20px !important;
        border-radius: 15px !important;
    }

    .react-switch-handle {
        width: 13px !important;
        height: 13px !important;
        top: 3.3px !important;
        left: 3px !important;
        transform: translateX(0px) !important;
    }

    #dark .react-switch-handle {
        transform: translateX(11px)  !important;
    }
}