@import "./styles/_vars.scss";

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#dark {
  background-color: $bgColor_dark;
}

#light {
  background-color: $bgColor;
}
