@import "./styles/_vars.scss";

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#dark {
  background-color: $bgColor_dark;
  color: $textColor_dark
}

#light {
  background-color: $bgColor;
  color: $textColor;
}

.home__page {
  background-image: url(./assets/imgs/background_desktop_comp.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: $bgColor;

    @media (max-width: $tablet)  {
      background-image: url(./assets/imgs/background_table_comp.png); 
}
    @media (max-width: $mobile)  {
      background-image: url(./assets/imgs/background_mobile_comp.png);
}
}
