@import "../../styles/vars";

.formButton {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 29px;
    font-size: 20px;
}

// .formButton__inner {
//     font-size: 20px;
// }


// #dark .formButton__inner:hover {
//     background-color: $greyColor;
//   }